body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  width: 100px;
  min-height: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.btn-back:hover{
  background-color: #000000;
  color: #ffffff;
}

.btn-back:active{
  background-color: #8c8b8a;
  color: #fff;
}

.btn-add{
  background-color: #4fdf4b;
  color: white;
}

.btn-add:hover{
  background-color: #53cf51;
}

.btn-add:active{
  background-color: #6af567;
}

.btn-save{
  background-color: #4ddfe2;
  color: white;
}

.btn-save:hover{
  background-color: #44c6c8;
}

.btn-save:active{
  background-color: #7beef0;
}