body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  width: 100px;
  min-height: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.btn-back:hover{
  background-color: #000000;
  color: #ffffff;
}

.btn-back:active{
  background-color: #8c8b8a;
  color: #fff;
}

.btn-add{
  background-color: #4fdf4b;
  color: white;
}

.btn-add:hover{
  background-color: #53cf51;
}

.btn-add:active{
  background-color: #6af567;
}

.btn-save{
  background-color: #4ddfe2;
  color: white;
}

.btn-save:hover{
  background-color: #44c6c8;
}

.btn-save:active{
  background-color: #7beef0;
}

.contacts{
  border: 1px solid black;
  width: 1200px;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  width: 800px;
  border: 1px solid blue;
}

.contacts-nav{
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.contacts-title{
  padding: 30px 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: #27c9cb;
}

.contats-list{
  margin: 30px 10px;
  padding: 0;
  min-height: 50px;
  height: auto;
  list-style-type: none;
}

.contact{
  margin-bottom: 5px;
  width: 100%;
  height: 60px; 
  vertical-align: middle;
  background-color: #eff2f2;
  display: flex;
  justify-content: flex-start;
}

.contact:hover{
  background-color: #e3e3e3;
}

.contact-avatar{
  width: 50px;
  height: 50px;
  padding: 5px;
}

.contact-avatar img{
  width: 100%;
  height: 100%;
  background: url("./images/man1.jpg") center center;
  object-fit: cover;
  border-radius: 50%;
}

.contact div{
  margin: auto 0;
  padding: 5px;
}

.searchBar{
  border-radius: 50px;
  display: flex;
  margin: 0 10px;
  justify-content: center;
} 

.searchBar .searchBox__input{
  outline: none;
  border: none;

  background-color: #9a85ff;
  color: #ffffff;
  padding: 15px 20px;
  width: 750px;
  height: 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

::placeholder{
  color: #fff;
}

::-webkit-input-placeholder{
  color: #fff;
}

/* .searchBar{
  width: 100%;
  margin: 0;
  padding: 10px;
  transition: 0.4s liner;
}

.searchBar .searchBox__input  input[type="text"]{
  border: none;
  padding: 10px;
  width: 500px;
} */